a, a:hover {
    color: #b81623;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff!important;
}
@media screen and (max-width: 767px) {
    .navbar-brand-long {
        display: inline-block;
    }
    .navbar-brand-short {
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 840px) {
    .navbar-brand-long {
        display: none;
    }
    .navbar-brand-short {
        display: inline-block;
    }
}
@media screen and (min-width: 841px) {
    .navbar-brand-long {
        display: inline-block;
    }
    .navbar-brand-short {
        display: none;
    }
}
.itemTypeTitle {
    margin-bottom: -2px;
}
.container {
    padding-top: 30px;
    padding-bottom: 20px;
}
.subtitle-information {
    float: left;
    margin-bottom: 26px;
}
.badge-data {
    color: #fff!important;
    top: -1px;
    position: relative;
    background-color: #c61826;
}
a.badge-data:hover {
    background-color: #a0131e;
    text-decoration: none;
}
.metadata {
    border: 3px solid #ddd;
    border-radius: 4px;
    border-left: 5px solid #e31c2d;
    padding: 12px 16px 6px 16px;
    margin-bottom: 20px;
}
.metadata dl {
    margin-bottom: 0;
}
.metadata dl dt {
    min-width: 200px;
}
.metadata dl dd {
    min-height: 24px;
}
.api {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 13px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    word-break: break-all;
    word-wrap: break-word;
    text-align: center;
    color: #444;
    margin: 4px 0 10px 0;
    border-color: #eee;
}
.api em {
    font-style: normal;
    font-weight: 600;
    color: #333;
}
.footer {
    border-top: 1px solid #eee;
    margin-top: 30px;
    padding-top: 10px;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}
.footer a {
    margin-left: 10px;
    margin-right: 10px;
}





.references {
    margin-top: 20px;
}
.references .referenceTitle {
    font-weight: 500;
}
