<form id="sparql-form">
  <button type="submit" class="btn btn-primary" style="float: right; margin-top: 5px;">Query</button>
  <h1>SPARQL Query</h1>
  <textarea class="form-control" id="sparql-query" rows="16"></textarea>
</form>

<div id="sparql-result">
  <div class="alert alert-danger sparql-warning hidden">
    <h4 class="alert-heading">Error</h4>
    <p>There occurred an exception during the evaluation of the query:</p>
    <p class="sparql-warning-content"></p>
  </div>
  <div class="table-responsive sparql-table">
    <table class="table table-sm table-striped" id="sparql-table">
      <thead></thead>
      <tbody></tbody>
    </table>
  </div>
</div>
