.noScroll {
  overflow: hidden!important;
}
/* heading */
h1.grommetux-heading {
  font-size: 2rem!important;
}
/* forms */
.grommetux-control-icon-caret-down {
  width: 14px!important;
  padding-bottom: 4px;
  stroke: #bbb!important;
}
.grommetux-number-input__add span,
.grommetux-number-input__subtract span {
  padding: 4px;
}
.grommetux-number-input__add svg,
.grommetux-number-input__subtract svg {
  stroke: #bbb!important;
}
.inner-formfield {
  margin-top: 0!important;
}
.flex-row span.grommetux-form-field__contents {
  flex-direction: row;
  display: flex;
}
.flex-row span.grommetux-form-field__contents > first-child {
  padding-left: 24px!important;
}
.flex-row span.grommetux-form-field__contents > input {
  padding-left: 0!important;
}
.flex-row span.grommetux-form-field__contents .grommetux-select input {
  padding-left: 0px;
}
.flex-row span.grommetux-form-field__contents .grommetux-select:first-child input {
  padding-left: 24px;
}
.flex-row span.grommetux-form-field__contents .grommetux-input .grommetux-control-icon-caret-down,
.flex-row span.grommetux-form-field__contents .grommetux-select .grommetux-control-icon-caret-down {
  margin-right: 0!important;
}
.flex-row span.grommetux-form-field__contents .grommetux-input:last-child .grommetux-control-icon-caret-down,
.flex-row span.grommetux-form-field__contents .grommetux-select:last-child .grommetux-control-icon-caret-down {
  margin-right: 24px!important;
}
.select-horizontal ol li {
  display: inline-block;
}
.select-horizontal ol li:last-child label,
.select-horizontal ol li:last-child label span.grommetux-check-box__label {
  margin-right: 0;
}
/* menu */
.hasSubpage {
  height: 36px;
}
.subpage {
  font-size: 86%;
  height: 26px!important;
  padding-top: 5px!important;
  padding-left: 40px!important;
}
/* login */
.grommetux-login-form .grommetux-heading {
  font-size: 35px;
}
/* item */
.pageItemLabel {
  color: #666;
}
.pageItemLabel:hover {
  color: #000;
}
.pageItemLabelToggle {
  padding-left: 6px;
}
/* header */
.header {
  border-bottom: 1px #000 solid;
}
.header .grommetux-input {
  font-size: 19px!important;
  border: none;
}
.header .grommetux-input:focus {
  border: 1px solid #fff!important;
}
/* measure */
.presumesForResult {
  width: 520px;
  width: 72%;
}
.presumesOperator {
  width: 90px;
  width: 13%;
}
.presumesWithValue {
  width: 120px!important;
  width: 15%!important;
}
/* help */
.help div > * {
  max-width: 800px;
}
